@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to your global CSS or import in the component */
.pdf-preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .react-pdf__Page__canvas {
    margin: 0 auto;
    max-width: 100% !important;
    height: auto !important;
  }